@model Riodetask.Model.Entity.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerdByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerdByUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteByUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
    <a class="btn btn-primary" id="btnreply">Reply</a>

</div>
@section addjs{ 
    <script>
        $(document).ready(function () {
            $('#btnreply').click(function (e) {
                e.preventDefault();
                const container = $('dl')
                let replyform = $(container).find('[name="answer"]')[0];
                if (replyform == underfined) {
                    $(container).append($(`<dt class = "col-sm-2"> </dt>`));
                    replyform = $(`
                     <dd class = "col-sm-10"><textarea name="answer"><button class="btn btn-primary" >
                           Cavabla
                          </button></textarea> </dd>`)
                    container.append(replyform);
                     replyform = $(container).find('[name="answer"]')
                }
                $(replyform)[0].focus();
            });
        });

    </script>
}