@model IEnumerable<Riodetask.Model.Entity.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<table class="table table-dark " style="width:1000px">
    <thead >
        <tr>
            <th scope="col">Name</th>
            <th scope="col">CreateDate</th>
            <th scope="col">Delete by User</th>
            <th scope="col" class="btn btn-success" style="height:45px; margin-top:5px; margin-left:10px;color:white; width:250px"><a style="color: white;" asp-action="Create">Create New</a></th>


</tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.Name</th>
            <td>@item.CreatedTime</td>
            <td>@item.DeleteByUserId</td>
            <td>
                <a class="btn btn-primary" style="width:70px" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a class="btn btn-danger"  onclick="remove(@item.ID , '@item.Name')">Delete</a>
            </td>

        </tr>
        
        }

        </tbody>
    </table>
@section addcss{
    <link href="~/libs/toastr.js/toastr.css" rel="stylesheet" />
} 
@section addjs {
    <script src="~/libs/sweetalert/sweetalert.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script>

        function remove(id, name) {

            swal({
                title: "Eminsiniz?",
                text: `Testik etdiyiniz teqdirde  '${name}' sistemden  silinecek!`,
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                buttons: ["No", "Yes"]
            }).then(
                function (isConfirm) {
                    if (isConfirm) {


                        $.ajax({
                            url: '@Url.Action("Delete")',
                            type: 'POST',
                            data: { id },
                            contentType: 'application/x-www-form-urlencoded', // ne tip  gedecek?   2side model binding rolnu oynayir datani back gondermek ucun isdifade edilir  yeni back gonderilmeye xirmet edilir
                            dataType: 'json',
                    beforeSend: function () {
                        console.log("sorgudan evvel")   // loadir acmaq

                    },
                    success: function (response) {   // sorgunun neticesi ugurlu olsa
                        console.log(response)

                        if (response.error == false) {

                            toastr.success(response.Message, "Ugurludur");
                            window.location.reload();

                        } else {
                            toastr.error(response.Message, "xeta");

                        }
                    },
                            error: function (response) {   // sorgunun neticesi ugursuz olsa
                                console.log(response)
                    },


                }).always(function () {
                         console.log("sorgudan sonra")  //loadir baglamaq

                });

                    }
                });
        };
    </script>
}  