@model ShopFilterViewModel
@{ ViewData["Title"] = "Index"; }



<main class="main">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                <li>Shop</li>
            </ul>
        </div>
    </nav>
    <div class="page-content mb-10 pb-3">
        <div class="container">
            <div class="shop-boxed-banner banner mb-lg-6"
                 style="background-image: url('/uploads/images/shop/banner2.jpg'); background-color: #f2f2f3;">
                <div class="banner-content">
                    <h4 class="banner-subtitle font-weight-bold ls-normal text-uppercase text-white">
                        Riode Shop
                    </h4>
                    <h1 class="banner-title font-weight-bold text-white">Boxed Banner Style</h1>
                    <a href="#" class="btn btn-white btn-outline btn-rounded text-normal">
                        Discover now<i class="d-icon-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="row gutter-lg">
                <aside class="col-lg-3 sidebar sidebar-fixed shop-sidebar sticky-sidebar-wrapper">
                    <div class="sidebar-overlay"></div>
                    <a href="#" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
                    <a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
                    <div class="sidebar-content">
                        <div class="sticky-sidebar">
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">All Categories</h3>
                                <ul class='widget-body filter-items search-ul'>
                                    @Html.Raw(Model.OneCategories.GetCategory())
                                </ul>

                            </div>
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">Filter by Price</h3>
                                <div class="widget-body mt-3">
                                    <form action="#">
                                        <div class="filter-price-slider"></div>

                                        <div class="filter-actions">
                                            <div class="filter-price-text mb-4">
                                                Price:
                                                <span class="filter-price-range"></span>
                                            </div>
                                            <button type="submit"
                                                    class="btn btn-dark btn-rounded btn-filter">
                                                Filter
                                            </button>
                                        </div>
                                    </form><!-- End Filter Price Form -->
                                </div>
                            </div>
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">Size</h3>
                                <ul class="widget-body filter-items" data-entity-name="sizes">
                                    @foreach (var item in Model.productSizes)
                                    {
                        <li data-entity-id="@item.ID">
                            <a href="#">@item.Name</a>
                        </li>}

                                </ul>
                            </div>
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">Color</h3>
                                <ul class="widget-body filter-items" data-entity-name="colors">
                                    @foreach (var item in Model.productColors)
                                    {
                        <li data-entity-id="@item.ID">
                            <a href="#">@item.Name</a>
                        </li>}

                                </ul>
                            </div>
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">Brands</h3>
                                <ul class="widget-body filter-items" data-entity-name="brands">
                                    @foreach (var item in Model.brands)
                                    {
                        <li data-entity-id="@item.ID">
                            <a href="#">@item.Name</a>
                        </li>}

                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="col-lg-9">
                    <nav class="toolbox sticky-toolbox sticky-content fix-top">
                        <div class="toolbox-left">
                            <div class="toolbox-item toolbox-sort select-box text-dark">
                                <label>Sort By :</label>
                                <select name="orderby" class="form-control">
                                    <option value="default">Default</option>
                                    <option value="popularity" selected="selected">Most Popular</option>
                                    <option value="rating">Average rating</option>
                                    <option value="date">Latest</option>
                                    <option value="price-low">Sort forward price low</option>
                                    <option value="price-high">Sort forward price high</option>
                                    <option value="">Clear custom sort</option>
                                </select>
                            </div>
                        </div>
                        <div class="toolbox-right">
                            <div class="toolbox-item toolbox-show select-box text-dark">
                                <label>Show :</label>
                                <select name="count" class="form-control">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>
                            <div class="toolbox-item toolbox-layout">
                                <a id="a1" href="#product-list"
                                   data-container-class="products-wrapper product-lists"
                                   class="d-icon-mode-list btn-layout"></a>
                                <a id="a2" href="#product-wrap"
                                   data-container-class="products-wrapper"
                                   class="d-icon-mode-grid btn-layout "></a>
                            </div>
                        </div>
                    </nav>
                    <div id="productContainer" class="row cols-2 cols-sm-3 products-wrapper">



                        @foreach (var item in Model.Products)
                        {
                            var imagepath = item.Images.FirstOrDefault()?.Name;
            <div class="product">
                <figure class="product-media">
                    <a asp-action="details" asp-route-id="@item.ID">
                        <img src="~/uploads/images/product/@imagepath" alt="product" width="280" height="315">
                    </a>
                    <div class="product-label-group">
                        <label class="product-label label-new">new</label>

                        <label class="product-label label-sale">25% OFF</label>
                    </div>
                    <div class="product-action">
                        <a  asp-action="details" asp-route-id="@item.ID" class=" btn-cart" title="Add to cart">
                            <i class="d-icon-bag"></i>
                            <label>
                                Add to cart
                            </label>
                        </a>
                        <a  asp-action="details" asp-route-id="@item.ID" class=" btn-wishlist"
                           title="Add to wishlist"><i class="d-icon-heart"></i></a>
                        <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                            <i class="d-icon-search"></i>
                            <label>
                                Quick
                                View
                            </label>
                        </a>
                    </div>
                </figure>
                <div class="product-details">
                    <div class="product-cat">
                        <a href="shop-grid-3col.html">@item.Brand.Name</a>
                    </div>
                    <h3 class="product-name">
                        <a asp-action="details" asp-route-id="1">@item.Name</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$125.99</ins><del class="old-price">$160.99</del>
                    </div>
                    <div class="ratings-container">
                        <div class="ratings-full">
                            <span class="ratings" style="width:60%"></span>
                            <span class="tooltiptext tooltip-top"></span>
                        </div>
                        <a asp-action="details" asp-route-id="1" class="rating-reviews">( 8 reviews )</a>
                    </div>
                </div>
            </div>}


                        <div class="product">
                            <figure class="product-media">
                                <a asp-action="details" asp-route-id="1">
                                    <img src="~/uploads/images/shop/3.jpg" alt="product" width="280" height="315">
                                </a>

                                <div class="product-action">
                                    <a href="#" class=" btn-cart" title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                        <label>
                                            Add to cart
                                        </label>
                                    </a>
                                    <a href="#" class=" btn-wishlist"
                                       title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                                        <i class="d-icon-search"></i>
                                        <label>
                                            Quick
                                            View
                                        </label>
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">Shoes</a>
                                </div>
                                <h3 class="product-name">
                                    <a asp-action="details" asp-route-id="1">Converse Blue Trainaing Shoes</a>
                                </h3>
                                <div class="product-price">
                                    <span class="price">$111.00</span>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:40%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a asp-action="details" asp-route-id="1" class="rating-reviews">( 4 reviews )</a>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-media">
                                <a asp-action="details" asp-route-id="1">
                                    <img src="~/uploads/images/shop/4.jpg" alt="product" width="280" height="315">
                                </a>
                                <div class="product-action">
                                    <a href="#" class=" btn-cart" title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                        <label>
                                            Add to cart
                                        </label>
                                    </a>
                                    <a href="#" class=" btn-wishlist"
                                       title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                                        <i class="d-icon-search"></i>
                                        <label>
                                            Quick
                                            View
                                        </label>
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">Clothing</a>
                                </div>
                                <h3 class="product-name">
                                    <a asp-action="details" asp-route-id="1">Fashionable Orginal Trucker</a>
                                </h3>
                                <div class="product-price">
                                    <span class="price">$78.64</span>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:40%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a asp-action="details" asp-route-id="1" class="rating-reviews">( 2 reviews )</a>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-media">
                                <a asp-action="details" asp-route-id="1">
                                    <img src="~/uploads/images/shop/5.jpg" alt="product" width="280" height="315">
                                </a>
                                <div class="product-action">
                                    <a href="#" class=" btn-cart" title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                        <label>
                                            Add to cart
                                        </label>
                                    </a>
                                    <a href="#" class=" btn-wishlist"
                                       title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                                        <i class="d-icon-search"></i>
                                        <label>
                                            Quick
                                            View
                                        </label>
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">Watches</a>
                                </div>
                                <h3 class="product-name">
                                    <a asp-action="details" asp-route-id="1">Fashion Man Watch</a>
                                </h3>
                                <div class="product-price">
                                    <span class="price">$314.41</span>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:20%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a asp-action="details" asp-route-id="1" class="rating-reviews">( 14 reviews )</a>
                                </div>
                            </div>
                        </div>


                        <div class="product">
                            <figure class="product-media">
                                <a asp-action="details" asp-route-id="1">
                                    <img src="~/uploads/images/shop/6.jpg" alt="product" width="280" height="315">
                                </a>
                                <div class="product-label-group">
                                    <label class="product-label label-sale">20% off</label>
                                </div>
                                <div class="product-action">
                                    <a href="#" class=" btn-cart" title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                        <label>
                                            Add to cart
                                        </label>
                                    </a>
                                    <a href="#" class=" btn-wishlist"
                                       title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                                        <i class="d-icon-search"></i>
                                        <label>
                                            Quick
                                            View
                                        </label>
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">Clothing</a>
                                </div>
                                <h3 class="product-name">
                                    <a asp-action="details" asp-route-id="1">Men Beautiful Clothing</a>
                                </h3>
                                <div class="product-price">
                                    <ins class="new-price">$93.42</ins><del class="old-price">$127.72</del>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:100%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a asp-action="details" asp-route-id="1" class="rating-reviews">( 36 reviews )</a>
                                </div>
                            </div>
                        </div>


                        <div class="product">
                            <figure class="product-media">
                                <a asp-action="details" asp-route-id="1">
                                    <img src="~/uploads/images/shop/7.jpg" alt="product" width="280" height="315">
                                </a>
                                <div class="product-label-group">
                                    <label class="product-label label-new">new</label>
                                </div>
                                <div class="product-action">
                                    <a href="#" class=" btn-cart" title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                        <label>
                                            Add to cart
                                        </label>
                                    </a>
                                    <a href="#" class=" btn-wishlist"
                                       title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                                        <i class="d-icon-search"></i>
                                        <label>
                                            Quick
                                            View
                                        </label>
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">Shoes</a>
                                </div>
                                <h3 class="product-name">
                                    <a asp-action="details" asp-route-id="1">Converse Training Shoes</a>
                                </h3>
                                <div class="product-price">
                                    <span class="price">$113.00</span>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:80%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a asp-action="details" asp-route-id="1" class="rating-reviews">( 11 reviews )</a>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-media">
                                <a asp-action="details" asp-route-id="1">
                                    <img src="~/uploads/images/shop/8.jpg" alt="product" width="280" height="315">
                                </a>
                                <div class="product-action">
                                    <a href="#" class=" btn-cart" title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                        <label>
                                            Add to cart
                                        </label>
                                    </a>
                                    <a href="#" class=" btn-wishlist"
                                       title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                                        <i class="d-icon-search"></i>
                                        <label>
                                            Quick
                                            View
                                        </label>
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">Women</a>
                                </div>
                                <h3 class="product-name">
                                    <a asp-action="details" asp-route-id="1">Women Beautiful Headgear</a>
                                </h3>
                                <div class="product-price">
                                    <span class="price">$78.24</span>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:40%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a asp-action="details" asp-route-id="1" class="rating-reviews">( 8 reviews )</a>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-media">
                                <a asp-action="details" asp-route-id="1">
                                    <img src="~/uploads/images/shop/9.jpg" alt="product" width="280" height="315">
                                </a>
                                <div class="product-action">
                                    <a href="#" class=" btn-cart" title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                        <label>
                                            Add to cart
                                        </label>
                                    </a>
                                    <a href="#" class=" btn-wishlist"
                                       title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                                        <i class="d-icon-search"></i>
                                        <label>
                                            Quick
                                            View
                                        </label>
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">Accessories</a>
                                </div>
                                <h3 class="product-name">
                                    <a asp-action="details" asp-route-id="1">Hand Electric Cell</a>
                                </h3>
                                <div class="product-price">
                                    <span class="price">26.00</span>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:100%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a asp-action="details" asp-route-id="1" class="rating-reviews">( 6 reviews )</a>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-media">
                                <a asp-action="details" asp-route-id="1">
                                    <img src="~/uploads/images/shop/10.jpg" alt="product" width="280" height="315">
                                </a>
                                <div class="product-label-group">
                                    <label class="product-label label-new">new</label>
                                </div>
                                <div class="product-action">
                                    <a href="#" class=" btn-cart" title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                        <label>
                                            Add to cart
                                        </label>
                                    </a>
                                    <a href="#" class=" btn-wishlist"
                                       title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                                        <i class="d-icon-search"></i>
                                        <label>
                                            Quick
                                            View
                                        </label>
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">Bags & Backpacks</a>
                                </div>
                                <h3 class="product-name">
                                    <a asp-action="details" asp-route-id="1">A Dress-suit Valise</a>
                                </h3>
                                <div class="product-price">
                                    <span class="price">$189.23</span>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:80%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a asp-action="details" asp-route-id="1" class="rating-reviews">( 26 reviews )</a>
                                </div>
                            </div>
                        </div>

                        <div class="product">
                            <figure class="product-media">
                                <a asp-action="details" asp-route-id="1">
                                    <img src="~/uploads/images/shop/11.jpg" alt="product" width="280" height="315">
                                </a>
                                <div class="product-action">
                                    <a href="#" class=" btn-cart" title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                        <label>
                                            Add to cart
                                        </label>
                                    </a>
                                    <a href="#" class=" btn-wishlist"
                                       title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                                        <i class="d-icon-search"></i>
                                        <label>
                                            Quick
                                            View
                                        </label>
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">men</a>
                                </div>
                                <h3 class="product-name">
                                    <a asp-action="details" asp-route-id="1">Converse Season Shoes</a>
                                </h3>
                                <div class="product-price">
                                    <span class="price">$135.62</span>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:40%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a asp-action="details" asp-route-id="1" class="rating-reviews">( 7 reviews )</a>
                                </div>
                            </div>
                        </div>
                        <!--<div class="product">
                            <figure class="product-media">
                                <a asp-action="details" asp-route-id="1">
                                    <img src="~/uploads/images/shop/12.jpg" alt="product" width="280" height="315">
                                </a>
                                <div class="product-label-group">
                                    <label class="product-label label-sale">8% off</label>
                                </div>
                                <div class="product-action">
                                    <a href="#" class=" btn-cart" title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                        <label>
                                            Add to cart
                                        </label>
                                    </a>
                                    <a href="#" class=" btn-wishlist"
                                       title="Add to wishlist"><i class="d-icon-heart"></i></a>
                                    <a asp-controller="shop" asp-action="Details" class="btn-quickview" title="Quick View">
                                        <i class="d-icon-search"></i>
                                        <label>
                                            Quick
                                            View
                                        </label>
                                    </a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">Watches</a>
                                </div>
                                <h3 class="product-name">
                                    <a asp-action="details" asp-route-id="1">Man's Black Wrist Watch</a>
                                </h3>
                                <div class="product-price">
                                    <ins class="new-price">$280.25</ins><del class="old-price">$310.24</del>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:40%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a asp-action="details" asp-route-id="1" class="rating-reviews">( 3 reviews )</a>
                                </div>
                            </div>-->
                    </div>

                </div>
                <nav class="toolbox toolbox-pagination">
                    <p class="show-info">Showing 12 of 56 Products</p>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                               aria-disabled="true">
                                <i class="d-icon-arrow-left"></i>Prev
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item page-item-dots"><a class="page-link" href="#">6</a></li>
                        <li class="page-item">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next<i class="d-icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    </div>
</main>



@section addjs{

    <script>
//const { type, error } = require("jquery");



        $(document).ready(function () {

            $('.toolbox-layout a[href^="#product-"]').click(function (e) {
                e.preventDefault();
                $(e.currentTarget).parent().find('a').removeClass('active');
                $(e.currentTarget).addClass('active');

                const ilListLyaut = $(e.currentTarget).attr('href') === '#product-list';
                const data = $(e.currentTarget).data();

                const container = $('#productContainer');
                $(container).attr('class', data.containerClass);
                $(container).find('.product').each(function (index, item) {
                    const actionContainer = $(item).find('.product-action');
                    if (ilListLyaut == true) {
                        $(item).find('.product.details').append(actionContainer);

                    }
                    else {
                        $(item).find('.product.media').append(actionContainer);


                    }
                })
            })

        });

        //function setFilter() {

            //if ($.setFilterProcessId != undefined) {

                //clearTimeout($.setFilterProcessId )

            //}

           // $.setFilterProcessId = setTimeout(function () {



                //const filterogj = {};
                //$('ul[data-entity-name]').each(function (index, item) {

                //    const entityPropertyName = $(item).data('entity-name');
                //    filterogj[entityPropertyName] = [];

                //    $(item).find('li.active').each(function (indexli, itemli) {

                //        filterogj[entityPropertyName].push($(itemli).data('entity-id'));

                //    });
                //});

                //console.log(filterogj)


                //   // datani obyect seklinde yox json seklinde gondermek ucun;

                //const filterObjectJson = JSON.stringify(filterogj);

                @*$.ajax({






                    url: '@Url.Action("Filter")', // sorgu hara gedecek
                    type: 'POST', // sorgunun tipi ne olacaq?

                   // obyect kimi gondermek isdiyirikse bu cur
                    //contentType: 'application/x-www-form-urlencoded', // ne tip  gedecek?   2side model binding rolnu oynayir datani back gondermek ucun isdifade edilir  yeni back gonderilmeye xirmet edilir
                    //data: filterogj, // gondereceyimiz data? // hansi dta type gedecek?  ve gelen datani biz json formasinda qebul edirik


                    // obyecti json formada gondermek isdiyirikse bu cur
                    data: filterObjectJson,
                    contentType:'application/json',

                    dataType: 'json',

                    beforeSend: function () {
                        console.log("sorgudan evvel")   // loadir acmaq

                    },
                    success: function (data) {   // sorgunun neticesi ugurlu olsa
                        console.log(data)
                    },
                    error: function (data) {   // sorgunun neticesi ugursuz olsa
                        console.log(data)
                    },


                }).always(function () {
                    console.log("sorgudan sonra")  //loadir baglamaq

                });*@

            //}/*, 2000)*/


            // data json foratinda gonderikse mutlek action paraetrin qabagna [FormBody] yazilmalidir

            // data eger obyect kimi gonderikse o zaman secilmemisler null cixir;
        //};

    </script>
}

@section addcss{
    <link href="~/assets/css/product-style.min.css" rel="stylesheet" />
    
}